<div class="banner">
	<%= image_tag "our-team-banner2.jpg" %>
</div>

<div class="our-team">
	<div class="ot-header">
		<h3>Our Team</h3>
		<p>Our team is committed to changing lives one resume, job search and interview preparation at a time. We are not alone in this effort; we are fortunate enough to have a support network of regional leaders, volunteers, donors and organizations such as corporations and universities. Together, we are and will continue to provide essential support to homeless shelters and people experiencing homelessness.</p>
		<p>Our team is a group of driven individuals, coming together as a team to fight homelessness one participant at a time. Through our leadership team and group of committed volunteers, donors, and corporate partners we are changing the lives of those who just need a little help getting their careers back on track. With your help, the reach of the good we can accomplish is endless.</p>
	</div>
	<div class="team-members">
		<h3>Leadership Team</h3>
		<hr>
		<div class="row">
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Danny Graziosi</h6>
					<p class="p-title">Chief Executive Officer</p>
					<hr>
					<p class="p-prof">Ernst &amp; Young</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Jake Oppenheim</h6>
					<p class="p-title">Chief Strategy Officer</p>
					<hr>
					<p class="p-prof">Goldman Sachs</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Emily Rogers-Healion</h6>
					<p class="p-title">Chief Innovation Officer</p>
					<hr>
					<p class="p-prof">Heidrick &amp; Struggles</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Ariel Kutcher</h6>
					<p class="p-title">Director of Marketing</p>
					<hr>
					<p class="p-prof">YCharts</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Liz Gerner</h6>
					<p class="p-title">Director of Marketing Analytics</p>
					<hr>
					<p class="p-prof">Booz Allen Hamilton</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Miranda Wasserman</h6>
					<p class="p-title">Director of PR &amp; Fundraising</p>
					<hr>
					<p class="p-prof">PWC</p>
				</div>
			</div>
		</div>

		<!-- ADD MORE HERE -->



	
	<div class="team-members">
		<h3>Board of Directors</h3>
		<hr>
		<div class="row">
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Matt Rojas</h6>
					<p class="p-title">Trustee, Co-founder</p>
					<hr>
					<p class="p-prof">McKinsey &amp; Company</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Matt Sobel</h6>
					<p class="p-title">Trustee, Co-founder</p>
					<hr>
					<p class="p-prof">Oracle</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Will Cobb</h6>
					<p class="p-title">Trustee</p>
					<hr>
					<p class="p-prof">Strategy&amp;</p>
				</div>
			</div>
		</div>
	</div>
</div>