<% content_for :title, "Lazarus Rising | Our Team" %>
<% content_for :meta_desc, "Learn more about our leadership team at Lazarus Rising, comprised of driven individuals coming together on a Pro Bono basis to better our communities." %>

<div class="banner">
	<div class="banner-left">
		<div class="banner-left-wrapper">
			<h3 class="banner-left-title">Our Team</h3>
			<p class="banner-left-text">We are a team of driven individuals coming together on a Pro Bono basis to better our communities. We are responsible for setting the strategy and ensuring the successful execution of Lazarus Rising’s services across the country. Together with our committed volunteers, donors, and corporate partners, we are empowering our participants to change their lives.</p>
			<%= link_to 'Get Involved', get_involved_path, :class => 'banner-left-button' %>
		</div>
	</div>
	<div class="banner-right">
		<%= image_tag 'ot-header.jpg', :class => 'banner-image' %>
	</div>
</div>

<div class="our-team">
	<div class="team-members">
		<h3>Leadership Team</h3>
		<div class="row">
			<div class="pod">
				<%= image_tag 'Headshots/DannyGheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Danny Graziosi</h6>
					<p class="p-title">Chief Executive Officer</p>
					<hr>
					<p class="p-prof">Ernst &amp; Young</p>
					<div class="p-links">
						<%= mail_to 'danny.graziosi@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/daniel-graziosi-957510a1/', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'Headshots/JakeOheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Jake Oppenheim</h6>
					<p class="p-title">Chief Strategy Officer</p>
					<hr>
					<p class="p-prof">Goldman Sachs</p>
					<div class="p-links">
						<%= mail_to 'jake.oppenheim@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/jakeoppenheim/', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'Headshots/EmilyRHheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Emily Rogers-Healion</h6>
					<p class="p-title">Chief Innovation Officer</p>
					<hr>
					<p class="p-prof">Heidrick &amp; Struggles</p>
					<div class="p-links">
						<%= mail_to 'emily.rogers.healion@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/emily-rogers-healion-18ba829b/', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'Headshots/PatVHeadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Pat Vroman</h6>
					<p class="p-title">Chief Operating Officer</p>
					<hr>
					<p class="p-prof">Citi</p>
					<div class="p-links">
						<%= mail_to 'pat.vroman@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/patrickvroman/', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="pod pod-close">
				<%= image_tag 'Headshots/ArielKheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Ariel Kutcher</h6>
					<p class="p-title">Director of Marketing</p>
					<hr>
					<p class="p-prof">YCharts</p>
					<div class="p-links">
						<%= mail_to 'ariel.kutcher@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/ariel-kutcher-52b239b4/', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="pod pod-close">
				<%= image_tag 'Headshots/LizGheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Liz Gerner</h6>
					<p class="p-title">Director of Analytics</p>
					<hr>
					<p class="p-prof">Booz Allen Hamilton</p>
					<div class="p-links">
						<%= mail_to 'liz.gerner@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/gernerelizabeth/', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="pod pod-close">
				<%= image_tag 'Headshots/MirandaWheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Miranda Wasserman</h6>
					<p class="p-title">Director of Public Relations</p>
					<hr>
					<p class="p-prof">PWC</p>
					<div class="p-links">
						<%= mail_to 'miranda.wasserman@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/miranda-wasserman-28885763', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="pod pod-close">
				<%= image_tag 'Headshots/SaraYheadshot.jpg', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Sara Young</h6>
					<p class="p-title">Content Manager</p>
					<hr>
					<p class="p-prof">University of Pennsylvania</p>
					<div class="p-links">
						<%= mail_to 'sara.young@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/sara-young17', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="pod">
				<%= image_tag 'Headshots/ElisabethIheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Elisabeth Ingersoll</h6>
					<p class="p-title">Director of Development</p>
					<hr>
					<p class="p-prof">Group K Diagnostics</p>
					<div class="p-links">
						<%= mail_to 'elisabeth.ingersoll@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/elisabeth-ingersoll-975701160/', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'Headshots/TaylorMheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Taylor Mussenden</h6>
					<p class="p-title">UX/UI Designer</p>
					<hr>
					<p class="p-prof">Veronica Beard</p>
					<div class="p-links">
						<%= mail_to 'taylormussenden@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/taylor-mussenden', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'Headshots/DanSheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Dan Shapiro</h6>
					<p class="p-title">Lead Developer</p>
					<hr>
					<p class="p-prof">LinkIt!</p>
					<div class="p-links">
						<%= mail_to 'dan.shapiro@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/dan--shapiro/', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<!-- ADD MORE HERE -->



	
	<div class="team-members">
		<h3>Board of Directors</h3>
		<div class="row">
			<div class="pod">
				<%= image_tag 'Headshots/MattRheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Matt Rojas</h6>
					<p class="p-title">Trustee, Co-founder</p>
					<hr>
					<p class="p-prof">McKinsey &amp; Company</p>
					<div class="p-links">
						<%= mail_to 'mrojas@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/matt-rojas-46587b94/', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'Headshots/MattSheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Matt Sobel</h6>
					<p class="p-title">Trustee, Co-founder</p>
					<hr>
					<p class="p-prof">Oracle</p>
					<div class="p-links">
						<%= mail_to 'msobel@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/mattesobel/', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'Headshots/WillCheadshot.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Will Cobb</h6>
					<p class="p-title">Trustee</p>
					<hr>
					<p class="p-prof">Strategy&amp;</p>
					<div class="p-links">
						<%= mail_to 'william.cobb@lazarusrising.org' do %>
							<%= fa_icon 'envelope-square' %>
						<% end %>
						<%= link_to 'https://www.linkedin.com/in/williamhenrycobb', target: :_blank do %>
							<%= fa_icon 'linkedin' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>