<div class="banner">
	<%= image_tag "our-team-banner2.jpg" %>
</div>

<div class="our-team">
	<div class="ot-header">
		<h3>Our Team</h3>
		<p>We are a team of driven individuals coming together on a Pro Bono basis to better our communities. We are responsible for setting the strategy and ensuring the successful execution of Lazarus Rising’s services across the country. Together with our committed volunteers, donors, and corporate partners, we are empowering our participants to change their lives.</p>
	</div>
	<div class="team-members">
		<h3>Leadership Team</h3>
		<hr>
		<div class="row">
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Danny Graziosi</h6>
					<p class="p-title">Chief Executive Officer</p>
					<hr>
					<p class="p-prof">Ernst &amp; Young</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Jake Oppenheim</h6>
					<p class="p-title">Chief Strategy Officer</p>
					<hr>
					<p class="p-prof">Goldman Sachs</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Emily Rogers-Healion</h6>
					<p class="p-title">Chief Innovation Officer</p>
					<hr>
					<p class="p-prof">Heidrick &amp; Struggles</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Ariel Kutcher</h6>
					<p class="p-title">Director of Marketing</p>
					<hr>
					<p class="p-prof">YCharts</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Liz Gerner</h6>
					<p class="p-title">Director of Analytics</p>
					<hr>
					<p class="p-prof">Booz Allen Hamilton</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Miranda Wasserman</h6>
					<p class="p-title">Director of Public Relations</p>
					<hr>
					<p class="p-prof">PWC</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Elisabeth Ingersoll</h6>
					<p class="p-title">Director of Development</p>
					<hr>
					<p class="p-prof">Group K Diagnostics</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Taylor Mussenden</h6>
					<p class="p-title">UX/UI Designer</p>
					<hr>
					<p class="p-prof">Veronica Beard</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Dan Shapiro</h6>
					<p class="p-title">Lead Developer</p>
					<hr>
					<p class="p-prof">LinkIt!</p>
				</div>
			</div>
		</div>

		<!-- ADD MORE HERE -->



	
	<div class="team-members">
		<h3>Board of Directors</h3>
		<hr>
		<div class="row">
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Matt Rojas</h6>
					<p class="p-title">Trustee, Co-founder</p>
					<hr>
					<p class="p-prof">McKinsey &amp; Company</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Matt Sobel</h6>
					<p class="p-title">Trustee, Co-founder</p>
					<hr>
					<p class="p-prof">Oracle</p>
				</div>
			</div>
			<div class="pod">
				<%= image_tag 'https://via.placeholder.com/116x136.png', :class => 'headshot' %>
				<div class="info">
					<h6 class="p-name">Will Cobb</h6>
					<p class="p-title">Trustee</p>
					<hr>
					<p class="p-prof">Strategy&amp;</p>
				</div>
			</div>
		</div>
	</div>
</div>