<% content_for :title, "Lazarus Rising" %>
<% content_for :meta_desc, "At Lazarus Rising, our vision is to combat homelessness by empowering people with the skills they need to secure meaningful employment. Join the cause!" %>

<div class="home-banner">
	<%= image_tag "lr-home-banner.jpg", :class => 'banner-img' %>
	<div class="home-form-wrapper">
		<div class="hf-wrapper">
			<div class="hf-section">
				<p class="hf-title">Join The Cause!</p>
				<p class="hf-text">Our vision is to combat homelessness by empowering people with the skills they need to secure meaningful employment.</p>
				<p class="hf-name">Name</p>
				<div class="hf-row">
					<div class="hfr-item-wrapper">
						<input type="text" name="first-name" id="first-name" placeholder="First" class="hfr-first hfr-item">
					</div>
					<div class="hfr-item-wrapper">
						<input type="text" name="last-name" id="last-name" placeholder="Last" class="hfr-last hfr-item">
					</div>
				</div>
				<p class="hf-name">Interest</p>
					<div class="hf-row">
						<div class="hfr-item-wrapper">
						<select id="interest" name="interest" title="Interest" class="hfr-interest hfr-item">
							<option value="">Select</option>
							<option value="Volunteer - NYC">Volunteer - NYC</option>
							<option value="Volunteer - DC">Volunteer - DC</option>
							<option value="Volunteer - Delaware">Volunteer - Delaware</option>
							<option value="Volunteer - Philadelphia / Camden">Volunteer - Philadelphia / Camden</option>
							<option value="Volunteer - Binghamton">Volunteer - Binghamton</option>
							<option value="Volunteer - Pittsburgh">Volunteer - Pittsburgh</option>
							<option value="Volunteer - Los Angeles">Volunteer - Los Angeles</option>
							<option value="Volunteer - Williamsburg">Volunteer - Williamsburg</option>
							<option value="Volunteer - Chicago">Volunteer - Chicago</option>
							<option value="Volunteer - Other">Volunteer - Other</option>
							<option value="Partner - Shelter">Partner - Shelter</option>
							<option value="Partner - Corporation / University">Partner - Corporation / University</option>
							<option value="Partner - Other">Partner - Other</option>
							<option value="Donate">Donate</option>
							<option value="Media">Media</option>
							<option value="Homeless">Homeless</option>
						</select>
					</div>
					<%= link_to '#', :class => 'hfr-submit-wrapper', :onclick => 'collectHeaderForm();' do %>
						<p class="hfr-submit">Get Started</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="stats">
	<h1 class="stats-title">Homelessness Statistics</h1>
	<div class="stats-row">
		<div class="stats-col">
			<h2 class="stats-num">555,000+</h2>
			<p class="stats-desc">National Homeless Population</p>
		</div>
		<div class="stats-col">
			<h2 class="stats-num">360,000+</h2>
			<p class="stats-desc">People Living in Shelters</p>
		</div>
		<div class="stats-col">
			<h2 class="stats-num">88,000+</h2>
			<p class="stats-desc">People Chronically Homeless</p>
		</div>
	</div>
</div>

<div class="video-wrapper">
	<%= video_tag "lr-home-video.mp4", controls: true, poster: "video-poster.PNG" %>
</div>

<div class="stats">
	<h1 class="stats-title">Lazarus Rising Efforts</h1>
	<div class="stats-row">
		<div class="stats-col">
			<h2 class="stats-num">300+</h2>
			<p class="stats-desc">Trained Volunteers</p>
		</div>
		<div class="stats-col">
			<h2 class="stats-num">7</h2>
			<p class="stats-desc">Regions Nationwide</p>
		</div>
		<div class="stats-col">
			<h2 class="stats-num">400+</h2>
			<p class="stats-desc">People Participated</p>
		</div>
	</div>
</div>

<div class="hs-wrapper">
	<div class="home-slideshow">
		<div class="hs-left">
			<div class="hsl-wrapper">
				<p class="hsl-text">"When working with Lazarus Rising's volunteers, participants leave feeling like they just worked with a good friend. No matter the differences in gender, age, or background, each interaction leads only to greater success. Volunteers make the participants feel comfortable, but more importantly, worthy - building their confidence to get back on their feet."</p>
				<p class="hsl-desc-q">Robert Tompkins</p>
				<p class="hsl-desc">Senior Manager, Vocational at The Bowery Mission</p>
			</div>
		</div>
		<div class="hs-right">
			<%= image_tag 'slideshow.PNG', :class => 'hsr-image' %>
		</div>
	</div>
</div>

<div class="supporters-wrapper">
	<h2>Our Supporters</h2>
	<div class="supporters">
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'bowery-mission.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'salesforce.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'pwc.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'rescue-mission.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'penji.jpg', :class => 'supporter-image' %>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	function collectHeaderForm() {
		localStorage["firstname"] = document.getElementById('first-name').value;
		localStorage["lastname"] = document.getElementById('last-name').value;
		localStorage["interest"] = document.getElementById('interest').value;

		document.location.href = "<%= get_involved_path(anchor: 'get_involved_form') %>";
	}
</script>
