<div class="home-banner">
	<%= image_tag "lr-home-banner.jpg", :class => 'banner-img' %>
	<div class="home-form">
		<!-- Our vision is to combat homelessness by empowering people with the skills they need to secure meaningful employment. -->
	</div>
</div>

<div class="stats">
	<h1 class="stats-title">Homelessness Statistics</h1>
	<div class="stats-row">
		<div class="stats-col">
			<h2 class="stats-num">555,000+</h2>
			<p class="stats-desc">National Homeless Population</p>
		</div>
		<div class="stats-col">
			<h2 class="stats-num">360,000+</h2>
			<p class="stats-desc">People Living in Shelters</p>
		</div>
		<div class="stats-col">
			<h2 class="stats-num">88,000+</h2>
			<p class="stats-desc">People Chronically Homeless</p>
		</div>
	</div>
</div>

<div class="video-wrapper">
	<%= video_tag "lr-home-video.mp4", controls: true, poster: "video-poster.PNG" %>
</div>

<div class="stats">
	<h1 class="stats-title">Lazarus Rising Efforts</h1>
	<div class="stats-row">
		<div class="stats-col">
			<h2 class="stats-num">300+</h2>
			<p class="stats-desc">Trained Volunteers</p>
		</div>
		<div class="stats-col">
			<h2 class="stats-num">7</h2>
			<p class="stats-desc">Regions Nationwide</p>
		</div>
		<div class="stats-col">
			<h2 class="stats-num">400+</h2>
			<p class="stats-desc">People Participated</p>
		</div>
	</div>
</div>

<div class="slideshow">
	<div class="s-placeholder">
		<p class="s-text">"When working with Lazarus Rising's volunteers, participants leave feeling like they just worked with a good friend. No matter the differences in gender, age, or background, each interaction leads only to greater success. Volunteers make the participants feel comfortable, but more importantly, worthy - building their confidence to get back on their feet." - <span class="s-text-q">Robert Tompkins, The Bowery Mission</span></p>
	</div>
</div>

<div class="supporters-wrapper">
	<h2>Our Supporters</h2>
	<div class="supporters">
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'bowery-mission.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'salesforce.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'pwc.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'rescue-mission.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'penji.jpg', :class => 'supporter-image' %>
			</div>
		</div>
	</div>
</div>
