<div class="video-main">
	<div class="placeholder">
		Video
	</div>
</div>

<div class="slideshow-wrapper">
	<div class="slideshow">
		<div class="placeholder">
			Slideshow
		</div>
	</div>

	<p class="slideshow-caption">Lorem ipsum dolor sit amet, consectetur adipiscine elit.</p>

	<%= link_to "READ MORE", '#', :class => 'btn-read-more' %>
</div>

<div class="stats">
	<div class="stat-item clearfix">
		<h3>225+</h3>
		<h6>Trained Volunteers</h6>
	</div>
	<div class="stat-item">
		<h3>6</h3>
		<h6>Regions</h6>
	</div>
	<div class="stat-item">
		<h3>400+</h3>
		<h6>People Participate</h6>
	</div>
</div>

<div class="supporters-wrapper">
	<h2>Our Supporters</h2>
	<div class="supporters">
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'bowery-mission.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'salesforce.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'pwc.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'rescue-mission.jpg', :class => 'supporter-image' %>
			</div>
		</div>
		<div class="supporter-item">
			<div class="supporter-logo">
				<%= image_tag 'penji.jpg', :class => 'supporter-image' %>
			</div>
		</div>
	</div>
</div>
