<div class="press-header">
	<div class="press-header-info">
		<h3>Press Room</h3>
		<p>Don't just take our words for it, see what other people are saying about us.</p>
	</div>
</div>

<div class="press-post-list">
	<div class="press-post">
		<div class="post-info">
			<h4 class="post-title">6 Ways to Make a Difference with Volunteering</h4>
			<p class="post-desc">How to balance your professional career and your passion</p>
			<p class="post-details"><i> Salesforce; 10/10/18</i></p>
			<%= link_to 'https://www.salesforce.org/6-ways-to-make-a-difference-with-volunteering/', 'https://www.salesforce.org/6-ways-to-make-a-difference-with-volunteering/', :class => 'post-link', target: :_blank %>
		</div>
	</div>
	<!-- post divider -->
	<div class="press-post">
		<div class="post-info">
			<h4 class="post-title">Binghamton University Alumni Combat Homelessness by Building Resumes</h4>
			<p class="post-desc">Lazarus Rising’s Binghamton Alumni explain how they make a difference</p>
			<p class="post-details"><i> BingUNews; 8/28/18</i></p>
			<%= link_to 'https://www.binghamton.edu/news/story/1301/binghamton-university-alumni-combat-homelessness-by-building-resumes-confid', 'https://www.binghamton.edu/news/story/1301/binghamton-university-alumni-combat-homelessness-by-building-resumes-confid', :class => 'post-link', target: :_blank %>
		</div>
	</div>
	<!-- post divider -->
	<div class="press-post">
		<div class="post-info">
			<h4 class="post-title">Young Professionals Rise to Challenge</h4>
			<p class="post-desc">College classmates provide job seeking resources for homeless</p>
			<p class="post-details"><i>The Smithtown News; 8/23/18</i></p>
			<%= link_to 'https://drive.google.com/file/d/1OCqnq8Zq4vsZ3n928_Z1f0Ltc2x8Bxmz/view', 'https://drive.google.com/file/d/1OCqnq8Zq4vsZ3n928_Z1f0Ltc2x8Bxmz/view', :class => 'post-link', target: :_blank %>
		</div>
	</div>
	<!-- post divider -->
	<div class="press-post">
		<div class="post-info">
			<h4 class="post-title">Ward Melville, Commack alumni give job aid to homeless</h4>
			<p class="post-desc">Lazarus Rising holds résumé and mock interview workshops at homeless shelters</p>
			<p class="post-details"><i>Village Times Herald; 8/1/18</i></p>
			<%= link_to 'http://tbrnewsmedia.com/ward-melville-commack-alumni-give-job-aid-homeless/', 'http://tbrnewsmedia.com/ward-melville-commack-alumni-give-job-aid-homeless/', :class => 'post-link', target: :_blank %>
		</div>
	</div>
	<!-- post divider -->
	<div class="press-post">
		<div class="post-info">
			<h4 class="post-title">Two Young NonProfit Leaders, Sobel & Rojas, Co-Founders, Lazarus Rising, Solutions For Combating Homelessness</h4>
			<p class="post-desc">Lazarus Rising’s founders giving their perspective on fighting homelessness</p>
			<p class="post-details"><i>MitchellChadrow.com; 6/18/17</i></p>
			<%= link_to 'http://startupssmarter.com/two-young-nonprofit-leaders-sobel-rojas-co-founders-lazarus-rising-solutions-for-combating-homelessness-mitchellchadrow-com/', 'http://startupssmarter.com/two-young-nonprofit-leaders-sobel-rojas-co-founders-lazarus-rising-solutions-for-combating-homelessness-mitchellchadrow-com/', :class => 'post-link', target: :_blank %>
		</div>
	</div>
	<!-- post divider -->
	<div class="press-post">
		<div class="post-info">
			<h4 class="post-title">Lazarus Rising helps homeless reach the next rung: A job</h4>
			<p class="post-desc">Volunteers are given tips on how to systematically write an effective resume and how to succeed during a job interview.</p>
			<p class="post-details"><i>Delaware Business News; 12/6/16</i></p>
			<%= link_to 'http://www.delawarebusinesstimes.com/lazarus-rising-helps-homeless-reach-next-rung-job', 'http://www.delawarebusinesstimes.com/lazarus-rising-helps-homeless-reach-next-rung-job', :class => 'post-link', target: :_blank %>
		</div>
	</div>
	<!-- post divider -->
	<div class="press-post">
		<div class="post-info">
			<h4 class="post-title">Rising to the Challenge</h4>
			<p class="post-desc">UD student venture works with Horn Program to fight homelessness</p>
			<p class="post-details"><i>UDaily; 8/12/16</i></p>
			<%= link_to 'https://www.udel.edu/udaily/2016/august/summer-founders-fridays-lazarus-rising', 'https://www.udel.edu/udaily/2016/august/summer-founders-fridays-lazarus-rising', :class => 'post-link', target: :_blank %>
		</div>
	</div>
	<!-- post divider -->
	<div class="press-post">
		<div class="post-info">
			<h4 class="post-title">Can this student-led startup solve homelessness?</h4>
			<p class="post-desc">The UD students behind Lazarus Rising see meaningful employment as the best solution.</p>
			<p class="post-details"><i>Technically Delaware; 7/28/16</i></p>
			<%= link_to 'https://technical.ly/delaware/2016/07/28/lazarus-rising-ud-students-homelessness/', 'https://technical.ly/delaware/2016/07/28/lazarus-rising-ud-students-homelessness/', :class => 'post-link', target: :_blank %>
		</div>
	</div>
	<!-- post divider -->
	<div class="press-post">
		<div class="post-info">
			<h4 class="post-title">Rising to the Challenge</h4>
			<p class="post-desc">Student organization helps homeless men and women find jobs</p>
			<p class="post-details"><i>University of Delaware Messenger; 4/1/16</i></p>
			<%= link_to 'http://www1.udel.edu/udmessenger/vol24no3/stories/students-lazarus-rising.html', 'http://www1.udel.edu/udmessenger/vol24no3/stories/students-lazarus-rising.html', :class => 'post-link', target: :_blank %>
		</div>
	</div>
	<!-- post divider -->
	<div class="press-post">
		<div class="post-info">
			<h4 class="post-title">Lazarus Rising Breathes Life into Job Searches for the Homeless</h4>
			<p class="post-desc">They call it, “skilled volunteerism” or, “mission driven labor.” Students are assisting with a process that they know well, which Rojas said allows for a unique formula for success.</p>
			<p class="post-details"><i>TheReview; 11/3/2015</i></p>
			<%= link_to 'http://udreview.com/lazarus-rising-breathes-life-into-job-searches-for-the-homeless-2/', 'http://udreview.com/lazarus-rising-breathes-life-into-job-searches-for-the-homeless-2/', :class => 'post-link', target: :_blank %>
		</div>
	</div>
</div>


