<div id="main_footer">
	<div class="footer-split clearfix">
		<div class="footer-left">
			<div class="footer-left-col">
				<%= link_to 'Who We Are', '#', :class => 'footer-col-header' %><br>
				<%= link_to 'Mission/History', '#' %><br>
				<%= link_to 'Our Team', our_team_path %><br>
				<br>
				<%= link_to 'Get Involved', get_involved_path, :class => 'footer-col-header' %>
			</div>
			<div class="footer-left-col">
				<%= link_to 'Ways We Help', '#', :class => 'footer-col-header' %><br>
				<%= link_to 'Program Model', '#' %><br>
				<%= link_to 'Financials', '#' %><br>
				<br>
				<%= link_to 'Press Room', press_room_path, :class => 'footer-col-header' %>
			</div>
			<div class="footer-left-col">
				<%= link_to 'Communities', '#', :class => 'footer-col-header' %><br>
				<%= link_to 'Volunteer Community', 'https://lazarusrising.force.com/s/' %><br>
				<%= link_to 'Shelter Partner Community', 'https://lazarusrising.force.com/s/login/' %><br>
				<br>
				<%= link_to 'Donate', 'https://www.paypal.me/lazarusrising', :class => 'footer-col-header', target: :_blank %>
			</div>
			<div class="footer-left-col">
				<%= link_to 'Follow', '#', :class => 'footer-col-header' %><br>
				<%= link_to 'https://www.facebook.com/LazarusRisingNonprofit/', target: :_blank do %>
					<%= fa_icon 'facebook-f' %> Facebook 
				<% end %><br>
				<%= link_to 'https://www.linkedin.com/company/lazarusrising', target: :_blank do %>
					<%= fa_icon 'linkedin' %> LinkedIn 
				<% end %>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-right-header">Connect With Us</p>
			<div class="footer-email">
				<input type="email" name="email" placeholder="Enter Email" class="footer-email-input">
				<%= link_to '#' do %>
					<%= fa_icon 'caret-right', :class	=> 'footer-email-submit' %>
				<% end %>
			</div>
			<br><br>
			<div class="footer-copyright">
				<%= fa_icon 'copyright' %> 2018 Lazarus Rising | <%= link_to 'Privacy Policy', privacy_policy_path %>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		Lazarus Rising is a 501(c)(3) tax-exempt, non-profit organization
	</div>
</div>