<header>
	<%= link_to root_path, :class => 'lazarus-logo' do %>
		<%= image_tag 'lazarusrising.PNG', :class => 'lazarus-image' %>
	<% end %>
	<ul class="main-nav">
		<li class="nav-link">
			<%= link_to '#' do %>
				Who We Are <%= fa_icon "caret-down" %>
			<% end %>
			<ul class="nav-dropdown">
				<li class="nav-dropdown-link"><%= link_to 'Mission/History', '#' %></li>
				<li class="nav-dropdown-link"><%= link_to 'Our Team', our_team_path %></li>
			</ul>
		</li>
		<li class="nav-link">
			<%= link_to '#' do %>
				Ways We Help <%= fa_icon "caret-down" %>
			<% end %>
			<ul class="nav-dropdown">
				<li class="nav-dropdown-link"><%= link_to 'Program Model', '#' %></li>
				<li class="nav-dropdown-link"><%= link_to 'Financials', '#' %></li>
			</ul>
		</li>
		<li class="nav-link"><%= link_to 'Get Involved', get_involved_path %></li>
		<li class="nav-link"><%= link_to 'Press Room', press_room_path %></li>
	</ul>
	<%= link_to 'Login', '#', :class => 'nav-login' %>
	<%= link_to 'Donate', '#', :class => 'nav-donate' %>
</header>
