<header id="main_navigation" class="clearfix">
	<nav>
		<%= link_to "Who We Are", '#' %>
		<%= link_to "Ways We Help", '#' %>
		<%= link_to "Get Involved", '#' %>
		<%= link_to "Press Room", '#' %>
		<%= link_to "Donate", '#', :class => 'donate' %>
	</nav>
	<%= link_to '#', :class => 'user-icon' do %>
		<%= fa_icon "user" %>
	<% end %>
</header>