<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title><%= yield(:title) %></title>
    <meta name="description" content="<%= yield(:meta_desc) %>" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120005301-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-120005301-1');
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'application/favicon' %>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"  rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  </head>

  <body>

    <%= render 'layouts/nav' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
